Copyjob-Test/sample_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ParquetSource",
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": false,
              "wildcardFileName": "*.parquet"
            },
            "formatSettings": {
              "type": "ParquetReadSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "AzureBlobStorageLocation",
                  "container": "holidaydatacontainer",
                  "folderPath": "Processed"
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "public_holidays",
                "properties": {
                  "type": "AzureBlobStorage",
                  "typeProperties": {
                    "authenticationType": "Anonymous",
                    "containerUri": "https://azureopendatastorage.blob.core.windows.net/holidaydatacontainer"
                  }
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "Append",
            "applyVOrder": false,
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "holidaydatacontainer"
              },
              "schema": [],
              "linkedService": {
                "name": "datafactory_lakehouse",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "98da5993-1619-8848-4608-0808544866e8",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy_data1",
        "dependsOn": []
      },
      {
        "type": "Office365Email",
        "typeProperties": {
          "body": "<p>@concat('RunID = ', pipeline().RunId, ' ; ', 'Copied rows ',activity('Copy_data1').output.rowsCopied, ' ; ','Throughput ',activity('Copy_data1').output.throughput)</p>",
          "to": "sorianoblessiem@gmail.com; blessiemarie.soriano@dxc.com",
          "subject": {
            "value": "@concat('DI in an Hour Pipeline Succeeded with Pipeline Run Id',pipeline().RunId)",
            "type": "Expression"
          }
        },
        "externalReferences": {
          "connection": "613e82cd-d2d4-43e3-9628-413f72697767"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Office365Email1",
        "dependsOn": [
          {
            "activity": "Dataflow1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "3183bd2d-18ff-b3dc-490c-b740356b67a2",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Dataflow1",
        "dependsOn": [
          {
            "activity": "Copy_data1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}